/* Fonts */
:root {
  --font-primary: SF Pro, Inter, system-ui;
  --font-display: SF Pro, Inter, system-ui;
  --font-headline: SF Pro, Inter, system-ui;
  --font-code: "BerkeleyMono Nerd Font", "LigaBerkeleyMono Nerd Font", "Liga Berkeley Mono", Geist Mono, ui-monospace;
}

/* message bar */
.form_a7d72e {
  padding-left: 0;
  padding-right: 0;
}

/* Hide message bar if you can't speak */
.form_a7d72e:has(.channelTextAreaDisabled_d0696b) {
  display: none;
}

/* Message bar */
.scrollableContainer_d0696b {
  border-radius: 0;
  min-height: 53px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.inner_d0696b.sansAttachButton_d0696b {
  width: 100%;
  height: 100%;
  min-height: 53px;
  display: flex;
  align-items: center;
  padding: 0;
}

.attachWrapper_f298d4 {
  display: grid;
  place-items: center;
  aspect-ratio: 1 / 1;
  width: 53px;
}

div.attachWrapper_f298d4 > button {
  padding: 0 !important;
  margin: 0 !important;
  width: 24px;
  display: block;
  height: min-content;
}

.buttons_d0696b {
  margin: 0 !important;
  height: 53px !important;
  width: 53px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expression-picker-chat-input-button.buttonContainer_d0696b {
  width: 53px;
  height: 53px;
  display: grid;
  place-items: center;
}

.textArea_d0696b {
  flex-grow: 1;
}
.textArea_d0696b:nth-child(1) {
  margin-left: 1rem;
}

.channelTextArea_a7d72e {
  margin-bottom: 0;
}

.base_d7ebeb {
  left: 0;
  background-color: #25273a99;
  backdrop-filter: blur(1rem);
  bottom: 53px;
  width: fit-content;
  min-width: 0;
  right: unset;
  padding-inline: 4px;
  border-radius: 4px;
}
.form_a7d72e:has(.attachedBars_d0696b) .base_d7ebeb {
  bottom: 90px;
}
/* Collasping channel list */
@media only screen and (max-width: 1024px) {
  .content_a4d4d9 {
    padding-left: 48px;
  }

  .sidebar_a4d4d9 {
    position: fixed;
    top: 0;
    left: 72px;
    background: steelblue;
    overflow-y: scroll;
    width: 48px;
    z-index: 999;
    height: 100vh;
    transition: width 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.075);
  }

  .sidebar_a4d4d9:hover {
    width: 240px;
  }

  .scrollerInner_e2e187 {
    padding-right: 48px;
  }

  .form_a7d72e {
    padding-right: 48px;
  }

  .base_d7ebeb {
    right: 48px;
  }

  /* Members List */
  .container_cbd271 {
    width: 48px;
    transition: width 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.075);
    position: absolute;
    right: 0;
  }

  .container_cbd271:hover {
    width: 240px;
  }

  .membersWrap_cbd271 {
    min-width: 48px;
    bottom: 0;
    top: 0;
    position: absolute;
    right: 0;
  }

  .members_cbd271 {
    width: 48px;
    transition: width 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.075);
  }

  .membersWrap_cbd271:hover {
    width: 240px;

    & .members_cbd271 {
      width: 240px;
    }
  }
}

/* Folding search bar to icon */
.search_a46bef:not(.open_a46bef) > .searchBar_a46bef {
  width: 22px;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: transparent;
}

.searchBarComponent_f0963d {
  background: transparent;
}

.search_a46bef:not(.open_a46bef) .iconLayout_effbe2 {
  cursor: pointer;
}

.search_a46bef:not(.open_a46bef) .iconContainer_effbe2 {
  transform: scale(1.4);
}

.search_a46bef:not(.open_a46bef) .icon_effbe2 {
  color: var(--interactive-normal);
}

.search_a46bef:not(.open_a46bef):hover .icon_effbe2 {
  color: var(--interactive-active);
}

/* Shiggy loader */
.container_e40c16 video.ready_e40c16 {
  display: none;
}

.content_e40c16::before {
  visibility: visible;
  content: "";
  display: block;
  background: url(https://media.discordapp.net/stickers/1217112512374505613.png?size=240);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 128px;
  height: 128px;
  margin: auto;
  margin-bottom: 48px;
}

/* Compress bot messages */
/**** Compress GitHub Bot's star and fork messages ****/
[class^="grid_"]:has(> :last-child:nth-child(2)) {
  display: flex;
  flex-wrap: wrap;
  padding: 0.1rem 1rem 0.6rem 0.75rem;
}

/* add padding between username and link */
[class^="grid_"]:has(> :last-child:nth-child(2)) [class^="embedTitle_"],
[class^="grid_"]:has(> :last-child:nth-child(2)) [class^="embedDescription_"] {
  padding-left: 12px;
}

/* Hide the extra GitHub bot avatars */
[class^="messageListItem_"]:has([class^="botText_"]):has(
    [class^="grid_"] > :last-child:nth-child(2)
  )
  [class^="contents_"] {
  display: none;
}

/* Reduce padding between selected bot messages */
[class^="messageListItem_"]:has([class^="botText_"]):has(
    [class^="grid_"] > :last-child:nth-child(2)
  )
  [class*="groupStart_"] {
  margin-top: -12px;
}

.container_b558d0:has([class^="grid_"] > :last-child:nth-child(2)) {
  padding-top: 0rem;
  padding-bottom: 0rem;
  top: 12px;
}

/* I do some weird offseting, it just looks better to not have a misaligned hover overlay */
.message_d5deea:has([class^="grid_"]):hover {
  background-color: #00000000 !important;
  background: #00000000 !important;
  /* Why do you do this, Discord Nitro themes.. */
}

/* Align small bot messages with large ones */
/* Alternately, you could remove their background color or just live with mismatched lengths */
[class^="gridContainer_"],
[class^="embedWrapper_"] {
  min-width: 525px;
}

/* Hide message bar buttons except emoji */
.buttons_d0696b > *:not(:nth-child(4)) {
  display: none;
}

.name_a31c43.username_de3235.desaturateUserColors_c7819f,
.username_ec86aa.desaturateUserColors_c7819f {
  position: relative;
  padding-inline: 4px;
}

.name_a31c43.username_de3235.desaturateUserColors_c7819f::after,
.username_ec86aa.desaturateUserColors_c7819f::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: currentColor;
  opacity: 0.3;
  border-radius: 4px;
}

/* NO nitro here */
/* Remove Shop and Nitro Buttons */
[class^="channel_"][class*="container_"]:has(a[href="/store"]),
[class^="channel_"][class*="container_"]:has(a[href="/shop"]) {
  display: none;
}

div.container_c75f85.containerWithMargin_c75f85 {
  display: none;
}

#popout_316 {
  display: none;
}

.shinyButton_d5e126 {
  display: none;
}

.barBase_cf58b5 {
  width: fit-content;
}

.jumpToPresentBar_cf58b5 {
  bottom: 2rem;
  height: fit-content;
  box-shadow: var(--elavation-high);
  display: flex;
  align-items: center;
  justify-content: center;
  right: 2rem;
  padding: 0.2rem;
  border-radius: 1rem;
  left: unset;
}

/* Scrollbars */
.sidebar_a4d4d9::-webkit-scrollbar{
  display: none !important;
}

*::-webkit-scrollbar{
  width: 2px !important;
}
* {
  scrollbar-width: 2px !important;
}

/* Role pill background */
.role_f9575e .roleCircle_a26d7b:before,
[class*="actionButton_"].role_f9575e[class*="justifyCenter_"],
.role_f9575e.rolePill_fa2f72 {
    border-radius: 8px;
}

.pill_f9575e,
.role_f9575e {
    transform: translate(0);
    border: 0;
}

.role_f9575e .roleRemoveIcon_e4010c,
.role_f9575e .roleRemoveIcon_e4010c {
    margin: 0;
    left: unset;
    transform: translate(50%, -50%);
}

.roleRemoveButton_f9575e,
.role_f9575e .roleRemoveButton_f9575e {
    position: static;
}

.role_f9575e .roleCircle_a26d7b:before,
.role_f9575e .roleCircle_a26d7b:before {
    content: '';
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    background: inherit;
    opacity: .1;
    border-radius: 8px;
    /* New profile pill radius, new standart discord is 4 px */
}
/* Mod view */
.roles_fa2f72 {
    color: var(--text-normal);
}

.container_f51af4, .userProfileInnerThemedPremiumWithoutBanner_c69a7b, .userProfileInnerThemedWithBanner_c69a7b, div.profileThemedContainer_d2194f {
    background-color: var(--background-secondary) !important;
    color: var(--text-normal) !important;
}

.container_d936aa, .bottomRow_d936aa, .innerContainer_d2194f, .modInfoItem_ce9fb9, .bottomRowActionDisabled_d936aa .innerBottomRowAction_d936aa {
    background-color: var(--background-primary);
    color: var(--text-normal) !important;
}

#app-mount > div.appAsidePanelWrapper_bd26cc > div.notAppAsidePanel_bd26cc > div.app_bd26cc > div > div.layers_d4b6c5.layers_a01fb1 > div > div > div > div > div:nth-child(3) > div > div, #app-mount > div.appAsidePanelWrapper_bd26cc > div.notAppAsidePanel_bd26cc > div.app_bd26cc > div > div.layers_d4b6c5.layers_a01fb1 > div > div > div > div > div.guildSidebar_a7d72e > div > div {
    --custom-theme-mix-text: var(--text-normal) !important;
    --profile-gradient-primary-color: var(--background-primary) !important;
    --profile-gradient-secondary-color: var(--background-primary) !important;
}

#app-mount > div.appAsidePanelWrapper_bd26cc > div.notAppAsidePanel_bd26cc > div.app_bd26cc > div > div.layers_d4b6c5.layers_a01fb1 > div > div > div > div > div:nth-child(3) > div > div > div > div > div.container_d936aa > div.topRow_d936aa > div.memberNameContainer_d936aa > div.memberName_d936aa > div > span, .text-sm-normal__95a78, .changeStr_eebd33, .text-sm-medium__726be, .eyebrow_dc00ef, .h5_c46f6a, .label_c46f6a, .legend_c46f6a, .text-sm-semibold_d260b0, .text-xs-medium_d3e0f1, .heading-md-semibold__76ba1, .text-md-medium_a84e09, #app-mount > div.appAsidePanelWrapper_bd26cc > div.notAppAsidePanel_bd26cc > div.app_bd26cc > div > div.layers_d4b6c5.layers_a01fb1 > div > div > div > div > div.guildSidebar_a7d72e > div > div > div > div > div.container_d936aa > div.topRow_d936aa > div.memberNameContainer_d936aa > div.memberName_d936aa > div > span {
    color: var(--text-normal) !important;
}

.topRow_d936aa, .bottomRowAction_d936aa, .header_f51af4, .innerContainer_f51af4  {
    background-color: var(--background-secondary) !important;
    color: var(--text-muted) !important;
}

.modInfoItemIcon_ce9fb9 {
    color: var(--text-muted)
}
/* Bot tags */
[class*=botText] {
    font-weight: 500;
}
